absl-py==2.4.0
accelerate==0.29.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.13.3
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
astunparse==1.6.3
attrs==23.2.0
# av==11.0.0
# basicsr
beautifulsoup4==4.12.3
brotli==1.1.0
certifi
cffi
charset-normalizer
click==8.1.7
colorlog==6.8.2
contourpy
cycler
cython
datasets==2.19.0
einops
fastapi==0.103.2
ffmpy
filelock
flatbuffers
fonttools
frozenlist
fsspec
ftfy
gast
gdown
google-pasta
gradio==4.44.1
gradio-client==1.3.0
h11
h5py
httpcore
httpx
huggingface-hub==0.23.4
idna
imageio
jinja2
joblib
jsonschema
keras>=2.15.0,<2.16.0
kiwisolver
lazy-loader
libclang
lightning-utilities
lmdb
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
mediapipe
ml-dtypes
mpmath
multidict
multiprocess
networkx
nltk
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum
orjson
packaging
pandas==2.2.2
phonlp
pillow==10.2.0
platformdirs
pluggy
protobuf==3.20.3
psutil
pyarrow
pycparser
pydantic>=2.0
pydub
pygments
pyparsing
pytest
python-dateutil
python-multipart
pytz
pyyaml
rapidfuzz
regex
requests
rich
rouge-score
safetensors
scikit-image
scipy
sentencepiece
six
sniffio
soupsieve
starlette==0.27.0
sympy
tensorboard
tensorboard-data-server
tensorflow==2.15.0
termcolor
tifffile
tiktoken
timm
tokenizers==0.19.1
tqdm
transformers==4.40.0
typer
typing-extensions
urllib3
uvicorn==0.23.2
vidgear
wcwidth
websockets==11.0.3
werkzeug
wheel
wrapt
xxhash
yarl

# Torch (chuẩn, có thật)
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1